


body{
  margin:0;
  background:linear-gradient(90deg, rgb(94, 95, 87), rgb(116, 116, 116));
  color: #262d33;
  font-family: 'Roboto', 'Open-sans';
}

.content{
  width:70vw;
  margin:0 auto;

  
  @media only screen 
   and (max-width : 1517px)  {
  //  width:80vw;
}
}
.side-nav {
  display:flex;
  position:fixed;
  height:100vh;
  transform:translateX(-111%);
  flex-flow:column;
  transition:all 0.7s;
  background-color:rgba(0,0,0,0.3);
  padding:0;
  width:15vw;
  min-width:15rem;
  max-width:16rem;
}

.showNav{
  transform:translateX(0%);

}
#top-nav{
  background-color:rgba(0,0,0,0.3);

  top:0;
  left:0;
  height:5vh;
}
#toggle-nav{
// position:absolute;
// border:2px black solid;
width:1.5rem;
padding:0.2rem 0.4rem;
border-radius:4rem;

}
h1,h2,h3,h4,h5 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
  list-style : none;
  list-style-image : none;
}

a {
  transition:3ms all;
  font-weight: bold;
  color:#1d1c1d;
  text-decoration : none;
  &:hover{
    color:rgb(182, 47, 23);
  }
  &.router-link-exact-active {
    color: #1f5f43;
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

