<template lang = "pug">

div(class="content")
  h1 Control

  h2 Control is the central theme to all tactics outlined
   
  p Ideally law enforcement always wants to have some kind of control over person of interest. There are numerous ways for them to achieve this goal, but they prefer to have some kind of leverage. There are a lot of different ways they can create leverage, but the desired outcome with leverage always means that they have something that the person of interest wants that they can control.
  
  
  p.subpoint  Conceptually, you can think of leverage as a way to force the desired actions. Again, this has to do with the underlying theme of control. 
  
  h1 Law Enforcement Ideal Cycle

  img(src='../assets/idealOutcome.png')
  

</template>

<style lang="scss" scoped>


.subpoint{
  margin-left:10vw;
  margin-top:0;
  color:rgba(0,0,0,0.5);
  list-style:circle;
}
p{
  line-height:1.2rem;
  
}
</style>

