<template lang = "pug">

div(class="content")
  h1 FAQ

  h2 How Did I Come Across this Information?
   
  p Short Answer: 1st hand experience <a href='https://twitter.com/FairviewPD'>@FairviewPD</a> Contact them for more information. 
  
  p Long answer: I moved into a house off of craigslist, lived with two people and weird things began happening to me while living there that were instigated by law enforcement trying to set something up at the residence.

  h2 Do you have proof?

  p  I have evidence that very difficult to explain things began occurring shortly after I moved to that residence. I do not have proof that these are the methods that law enforcement are using, but the conjecture I have has substantial rationale behind it and the evidence that I have gathered supports that conjecture. 

  h2 
  

   
  p.subpoint  
  


  

</template>

<style lang="scss" scoped>



.subpoint{
  margin-left:10vw;
  margin-top:0;
  color:rgba(0,0,0,0.5);
  list-style:circle;
}
p{
  line-height:1.2rem;
  
}
</style>
