<template lang = "pug">

div(class="content")
  h1 Generic Content layout page

  h2 Culpa proident nisi irure aliqua mollit sint adipisicing ea pariatur.
   
  p Et culpa mollit labore do. Occaecat sunt incididunt est do qui occaecat. Fugiat ullamco aute in cillum exercitation reprehenderit velit cillum aliqua nisi velit cupidatat. Quis exercitation aute sint eu nulla.
  
  p In amet id eu id qui culpa. Tempor commodo non proident dolor adipisicing. Quis deserunt aliquip nisi quis nisi minim culpa ex sint irure anim veniam.

  p 
</template>

<style lang="scss" scoped>


.subpoint{
  margin-left:10vw;
  margin-top:0;
  color:rgba(0,0,0,0.5);
  list-style:circle;
}
p{
  line-height:1.2rem;
  
}
</style>

