<template lang='pug'>
.container
  // <img src="../assets/logo.png">
  section.landing-headline
      h1 Modern Law Enforcement Tactics to Control Persons of Interest

      h2 aka

      h1 <a href='https://www.imdb.com/title/tt0120382/'>The Truman Show</a> But Way Fucking Worse 
      br
      .bullets
        p
          | This website&apos;s purpose is to be used as a way for the layman to understand the tactics utilized by law enforcement from the perspective of someone not involved in law-enforcement
        p
          | The contents should give a decent overview of the tactics you can expect from law enforcement, and a decent idea on how to handle them if you find yourself in a similar situation
        p
          | It&apos;s important to note that the information explained here is not easy to implement from the perspective of being caught in a situation that involves you as a person of Interest.
          // <br> ie: it's relatively easy to understand the theory outlined here. <br> It's not easy to act on the theor
      i


      
      //- <router-link to="/control" class='spacer'>Control as a Theme</router-link>
      //- <router-link to="/SelfIdentify">Practical Application of Theory</router-link>
  //- section.landing-headline2
  //-   h1 Purpose
  //-   h2
  //-     | My reason for making this guide is multi-faceted, but can be summarized in two main ideas
  //-   .bullets
  //-     p
  //-       | There are immense moral, and ethical concerns that the general public should be aware of in the way that law enforcement pursue their goals that involve people who have done nothing illegal
  //-     p
  //-       | They made me very angry and I&apos;m not okay with them just getting to keep doing what they do to people after knowing what they have done to me.
</template>

<script>
// @ is an alias to /src


export default {
  name: 'home',
  components: {

  }
}
</script>

<style lang="scss" scoped>
@mixin shadow($xval, $yval, $blur, $spread){
  box-shadow: $xval $yval $blur $spread rgba(0,0,0,0.71);
}
h1{
  margin-bottom:1rem;
}
.bullets{

  display:flex;
  width:40rem;
  margin:0 auto;
  align-items:center;
  justify-content:center;
}
.bullets>p{

  background-color:rgba(255,255,255,0.6);
  border-radius:2px;
  @include shadow(2px, 2px, 2px, 2px);
  padding:2rem;
  margin:0 2rem;
  min-width:15rem;

}
.spacer{
  margin:0 1rem;
}
.landing-headline{
  height:50vh;
  width:70vw;
  margin:0 auto;
}
// .landing-headline2{
//   background-color:rgb(29, 34, 44);
//   color:rgba(255,255,255,0.9);
//   height:50vh;
//   width:70vw;
//   margin:0 auto;
// }
p{
  line-height:1.2rem;
}

</style>

