<template lang = "pug">

div(class="content")
  h1 Operant Conditioning

  h2 Behavior Reinforcement
   
  img(src='../../Img/VennDiagram Operant - Classical.png')

  p In amet id eu id qui culpa. Tempor commodo non proident dolor adipisicing. Quis deserunt aliquip nisi quis nisi minim culpa ex sint irure anim veniam.

  p 
</template>

<style lang="scss" scoped>


.subpoint{
  margin-left:10vw;
  margin-top:0;
  color:rgba(0,0,0,0.5);
  list-style:circle;
}
p{
  line-height:1.2rem;
  
}
</style>

