import Rmanip from '../assets/Rmanip.png';
<template lang = "pug">

div(class="content")
  h1 Isolation

  h1 Relationship Manipulation
     img(src='../assets/Rmanip.png')

  h1 Instigating Illegal Behavior

</template>

<style lang="scss" scoped>


.subpoint{
  margin-left:10vw;
  margin-top:0;
  color:rgba(0,0,0,0.5);
  list-style:circle;
}
p{
  line-height:1.2rem;
  
}
</style>

