<template lang = "pug">

div(class="content")
  h1 Identifying Yourself as POI

  h2 The Practical Application of the Concepts Discussed
   
  p It's very important to establish a timeline so that you can figure isolate the important parties surrounding the events.

  p.subpoint If you were in a brand new place you'd never seen before, and had never seen a map of the area, but were tasked with knowing where the important landmarks were, you'd have to investigate and document the area. <br> This is similar conceptually. You need to be able to understand who and what the important events are that correspond to the bizarre happenings in your life. 

  h2 Perspective & Self Control

  p Modern law enforcement tactics involve disorienting Person of Interest in various manners to control them and make them incapable of understanding the situation they are in. <br> This is part of theme of control.

  p.subpoint This is why it's extremely important to examine your situation with how you currently feel as the least relevant thing. You should be focusing on answering questions for yourself like "what would cause this series of events?/ How is it logical to assume coincidence explains these events?/When did strange things begin to occur?" and not "This is so scary/ I wish I was happy / I miss my '' / Everyones really mean around here" You need to think like an investigator would think, not like a victim would.

  h2 Key Points

  ul 
    li Do not panic
    li Always remember that you are the one in control of your life
    li Focus on making sense of your surroundings and situations
    li Keep in mind that there are always simple ways to take control away from those around you as an adult enduring these circumstances. Record your interactions whenever possible. Remember to look for recurring patterns and to document it whenever possible.
    li The best defense against this type of control is to gather as much information as possible about the specifics of your situation. Law enforcement's worst case scenario involves them having a direct connection between their role in these activities and you discovering them.
</template>

<style lang="scss" scoped>


.subpoint{
  border-radius:4px;
  border:1px solid rgba(0,0,0,0.5);
  margin-left:15vw;
  margin-right:15vw;
  margin-top:0;
  color:rgba(0,0,0,0.5);
  list-style:circle;
}
p{
  line-height:1.2rem;
  
}
</style>

