<template lang = "pug">

div(class="details")
  .imgContainer
    img(src='../assets/wb-f-resizejpg.jpg')
</template>

<style lang="scss" scoped>
.details{
// transform:rotate(90deg);
display:flex;
margin:0 auto;
justify-content:center;
align-items:center;
background-image:cover;
}
img{
  margin:0 auto;
}
ul {
  li{
     display:block;
      padding:1rem;
    a{
      color:blue;
      &:visited{color:black;}
    }
  }
}

</style>

