<template>
  <div id="app">
    <section id="top-nav">
      <div id='toggle-nav' @click="togglenav();">
<svg viewBox = "0 0 200 200" version = "1.1">
    <line x1 = "20" y1 = "20" x2 = "200" y2 = "20" stroke = "black" stroke-width = "10"/>
    <line x1 = "20" y1 = "80" x2 = "200" y2 = "80" stroke = "black" stroke-width = "10"/>
    <line x1 = "20" y1 = "140" x2 = "200" y2 = "140" stroke = "black" stroke-width = "10"/>
</svg>
      </div>
     
    </section>

    <div class="side-nav" v-bind:class="{showNav: hideNav}">
      <router-link class='primary-link' to="/">Home</router-link> 
      <div class="divider">-</div>
      <router-link class='primary-link' to="/Control">Control as a Theme</router-link></router-link>
      <router-link class='primary-link' to="/PillarsOfControl">Pillars Of Control</router-link>
      <router-link class='primary-link' to="/OperantConditioning">Behavior Reinforcement</router-link></router-link>
      <router-link class='primary-link' to="/SelfIdentify">Practical Application of Theory</router-link>
      <div class="divider">-</div>
      <router-link to="/FAQ">FAQ</router-link> 
      <router-link to="/WhiteBoardNote">WhiteBoardNote</router-link> 
      <!-- <router-link to="/generic">Generic</router-link> -->
    
    </div>

<transition name='fade'>
    <router-view/>
</transition>
  </div>

</template>

<style lang="scss">

.primary-link{
  min-width:14rem;
  max-width:15rem;
  margin:1rem 0rem;
  background-color:rgba(255,255,255,0.5);
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity, transform;
  transition-duration: .3s;
}

.fade-enter-active {
  transition-delay: .3s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
  transform: translateX(-5%);
}

</style>
<script>



export default {

  data() {
    return {
      fak:'1',
      hideNav:false,
    };
  },
  methods: {
  togglenav() {
    console.log('ffffffff')
      this.hideNav = !this.hideNav
    },
  }
};
</script>
